body{
    margin: 0%;
}
div.navegacao{
    background-color:#373A3B;
}
div.navegacao ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div.navegacao li{
    float: left;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px;

}
div.navegacao ul li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding-right: 8px;
    text-decoration: none;
    margin-left: 8px;
    font-family: courier;
}
div.navegacao li a:hover{
    border-color:#5CC4C4;

}
div.navegacao li.bar{
    float: right;
}