:root {
  --azul: rgb(0, 210, 223);
  --branco-secundario: rgba(196, 196, 196, 1);
  --branco-primario: rgba(255, 255, 255, 1);
  --background-dark: rgba(18, 18, 18, 1);
  --background-gray: rgb(21, 21, 21);
}
body {
  margin: 0;
  font-family: arial;
}
.navigation {
  background-color: var(--background-dark);
  padding-top: 2.5rem;
  padding-bottom: 1.8rem;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  justify-content: space-between;
  border: 2px solid #151515;
}
.navigation__title {
  color: var(--azul);
  font-weight: 500;
  font-size: 1.5rem;
}
.navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
.navigation__list-item {
  color: var(--branco-secundario);
}
.navigation__list-item > a {
  text-decoration: none;
  color: var(--branco-secundario);
  font-weight: 500;
  font-size: 1.1rem;
}
.header {
  box-sizing: border-box;
  padding-left: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: var(--background-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__text {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--branco-primario);
  margin: 0;
}
.header__text-name {
  font-weight: 600;
  font-size: 4rem;
  color: var(--azul);
  margin: 12px 0px 12px 0px;
}
.header__btn-container {
  margin-top: 10vh;
}
.header__btn {
  background-color: transparent;
  width: 10vw;
  height: 5vh;
  padding: 0.9rem;
  color: var(--branco-primario);
  margin-right: 0.9rem;
  font-weight: 600;
  font-size: 1rem;
}
.LinkedIn {
  border-image: linear-gradient(51.06deg, #9358f7 0.87%, #10d7e2 97.48%);
  border-image-slice: 1;
}
.GitHub {
  border-image: linear-gradient(132.33deg, #d24074 -0.67%, #6518b4 102.54%);
  border-image-slice: 1;
}
.header__container-right{
  width: 50vw;
}
.container-right__img{
  width: 100%;
  height: auto;
}
.about-me {
  padding: 5vh 10vh 5vh 10vh;
  background-color: var(--background-gray);
  display: flex;
  gap: 30vw;
}
.about-me__container-foto {
  width: 22.9rem;
  height: 22.9rem;
  border-left: 2px solid var(--azul);
  background-color: var(--background-dark);
}
.about-me__container-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-me__text {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--branco-primario);
}
.about-me__localizacao {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--branco-primario);
}
.about-me__resumo {
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--branco-secundario);
  width: 30vw;
}
.about-me__button {
  background-color: transparent;
  width: 10vw;
  height: 5vh;
  padding: 15px;
  color: var(--branco-primario);
  margin-right: 15px;
  font-weight: 600;
  font-size: 1rem;
}
.Email {
  border-image: linear-gradient(51.06deg, #9358f7 0.87%, #10d7e2 97.48%);
  border-image-slice: 1;
}
.curriculo {
  border-image: linear-gradient(132.33deg, #d24074 -0.67%, #6518b4 102.54%);
  border-image-slice: 1;
}
.projetos {
  padding: 5vh 10vh 5vh 10vh;
  background-color: var(--background-gray);
}
.projetos__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 60px;
}
.projetos__title {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--branco-primario);
}
.projeto__card {
  width: 35vw;
  margin: 0;
}
.projeto__card-foto {
  width: 530px;
  height: 200px;
  background-color: var(--background-dark);
  border-left: 2px solid var(--azul);
  width: 100%;
}
.projeto__card-nome {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--branco-primario);
}
.projeto__card-descricao {
  font-weight: 300;
  font-size: 1rem;
  color: var(--branco-secundario);
  width: 80%;
}
.projeto__card-techs {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--azul);
}
.projeto__card-btn {
  background-color: transparent;
  width: 10vw;
  height: 5vh;
  padding: 15px;
  color: var(--branco-primario);
  margin-right: 15px;
  font-weight: 600;
  font-size: 1rem;
  border-image: linear-gradient(51.06deg, #9358f7 0.87%, #10d7e2 97.48%);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicos {
  background-color: var(--background-dark);
  padding: 5vh 10vh 5vh 10vh;
}
.servicos__title {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--branco-primario);
}
.servicos__card-container {
  display: flex;
  gap: 2rem;
}
.servicos__card {
  width: 15vw;
  height: 22vh;
  background-color: var(--background-gray);
  border-bottom: 2px solid var(--azul);
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.servicos__card-img{
  width: 25%;
  height: auto;
  max-width: 87px;
}
.servicos__card-descricao {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--branco-secundario);
}
.footer{
  padding: 5vh 10vh 5vh 10vh;
  background-color: var(--background-gray);
  color: var(--branco-secundario);
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1rem;
}