.header {
    box-sizing: border-box;
    padding-left: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--background-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  .header__container-left{
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }
  .header__text {
    font-size: 1.5rem;
    color: var(--branco-primario);
    margin: 0;
  }
  .header__text-name {
    font-weight: 600;
    font-size: 4rem;
    color: var(--azul);
    margin: 12px 0px 12px 0px;
  }
  .header__btn-container{
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
  }
  .header__btn {
    background-color: transparent;
    box-sizing: border-box;
    padding: 1rem 2rem;
    width: 50%;
    color: var(--branco-primario);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .header__btn:hover{
    background-color: var(--hover);
  }
  .LinkedIn {
    border-image: linear-gradient(51.06deg, #9358f7 0.87%, #10d7e2 97.48%);
    border-image-slice: 1;
  }
  .GitHub {
    border-image: linear-gradient(132.33deg, #d24074 -0.67%, #6518b4 102.54%);
    border-image-slice: 1;
  }
  .header__container-right{
    width: 50vw;
  }
  .container-right__img{
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .header{
      flex-direction: column-reverse;
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .header__container-left{
      height: auto;
      width: auto;
    }
    .header__container-right{
      width: 100vw;
    }
  }