.about-me {
    padding: 5vh 10vh 5vh 10vh;
    background-color: var(--background-gray);
    display: flex;
    justify-content: space-between;
  }
  .about-me__container-foto {
    width: 22.9rem;
    height: 22.9rem;
    border-left: 2px solid var(--azul);
    background-image: url(img/Lucas\ Vinicius.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .about-me__container-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;
  }
  .about-me__text {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--branco-primario);
  }
  .about-me__localizacao {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--branco-primario);
  }
  .about-me__resumo {
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--branco-secundario);
    width: 30vw;
  }
  .about-me__btn-container{
    box-sizing: border-box;
    display: flex;
  }
  .about-me__button {
    background-color: transparent;
    padding: 0.9rem 4em;
    color: var(--branco-primario);
    margin-right: 0.9rem;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .about-me__button:hover{
    background-color: var(--hover);
  }
  .Email {
    border-image: linear-gradient(51.06deg, #9358f7 0.87%, #10d7e2 97.48%);
    border-image-slice: 1;
  }
  .curriculo {
    border-image: linear-gradient(132.33deg, #d24074 -0.67%, #6518b4 102.54%);
    border-image-slice: 1;
  }
  .about-me__button>a{
    text-decoration: none;
    color: var(--branco-primario);
  }