:root {
  --azul: rgb(0, 210, 223);
  --branco-secundario: rgba(196, 196, 196, 1);
  --branco-primario: rgba(255, 255, 255, 1);
  --background-dark: rgba(18, 18, 18, 1);
  --background-gray: rgb(21, 21, 21);
  --hover: rgb(34, 34, 34);
}
body {
  margin: 0;
  font-family: arial;
}
.footer{
  padding: 5vh 10vh 5vh 10vh;
  background-color: var(--background-gray);
  color: var(--branco-secundario);
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 835px){
  .footer{
    padding: 5vh 2vh;
  }
}